@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    text-align: center;
    background-color: #e1f7ff;
    background-color: white;
}

.container{
    background-color: white;
    background-image: url("img/bg.png");
    background-size: cover;
    width: 1100px;
    height: 680px;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    color: #34304a;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.mypic{
    position: absolute;
    width: 300px;
    top: 160px;
    right: 160px; 
    background-color: #81b2e4;
    border-radius: 50%;
    padding: 10px;
}

.info{
    text-align: left;
    padding: 30px;
    width: 430px;
    padding-left: 150px;
    padding-top: 60px;
}

h3{
    padding-top: 30px;
    font-size: 40px;
    margin:0px;
    font-weight: 300;

}
h2{
    font-weight: 500;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
    color:transparent;
    background: linear-gradient(136deg,rgba(134, 42, 155, 1) 0%, rgba(197, 87, 199, 1) 50%, rgba(237, 83, 119, 1) 100%);
    background-clip:text;
}

h4{
    font-size: 20px;
    margin-top:10px;
    font-weight: 300;
    margin-bottom: 10px;

}
p{
    padding-top: 0px;
    color: #636363;
    line-height: 1.5;
}

.hobbies{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: dimgray;
    vertical-align: middle;
    margin-bottom: 10px;
}


.icon{
    padding-left: 20px;
    width: 30px;
}

.mypic {
    animation: breathe 5s infinite;
    animation-direction: alternate;
}

@keyframes breathe {
    from {
        transform: translate(0);
        filter: sepia(0) hue-rotate(0deg) saturate(1) drop-shadow(0 0 10px blue);
    }
    to {
        transform: translate(0, -100px);
        filter: sepia(0.9) hue-rotate(180deg) saturate(4) drop-shadow(0 0 100px blue);
    }
}